<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>write_no_write.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B05F7BD6290A845C00A93545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05F7BF1290A845D00A93545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05F7BFB290A845E00A93545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
